{% extends 'base.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %}

{% load humanize %}

{% load static %}


<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Dashboard</h1>
            <ul class="breadcrumbs">
                <li><a href="{%url 'home' %}">Home</a></li>
                <li class="active">{{user.first_name}}</li>
            </ul>
        </div>
    </div>
</div>
{% include 'includes/messages.html' %}


<div class="contact-2 content-area-5">
    <div class="container">
        <div class="main-title" style="text-align:left !important;">
            <h1>Welcome <span>{{user.first_name}}</span></h1>
        </div>
        {% if is_vendor %}
        <div>
            <div class="container mt-50 mb-50">
                <div class="main-title text-center"><h1>Booking <span>History</span></h1></div>
                {% if payments %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Service Name</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Event Start Date</th>
                            <th scope="col">Event End Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                        <tr>
                            <td>{{ payment.title }}</td>
                            <td>{{ payment.user.username }}</td>
                            <td>{{ payment.phone }}</td>
                            <td>{{ payment.start_date.date}}</td>
                            <td>{{ payment.end_date.date}}</td>
                            <td>₹{{ payment.amount | intcomma }}</td>
                            <td><form method="POST" action="{% url 'delete_order' payment.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark">Cancel</button></form></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h4> You have no booking history !</h4>
                {% endif %}
            </div>

            <!-- <div class="featured-service content-area-5"> -->
                <div class="container">
                    <div class="main-title">
                        <h1>Existing <span>Services</span></h1>       
                    </div>
                    <div class="slick-slider-area clearfix">
                        <div class="row slick-carousel"
                            data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                            
                            {% for services in their_services %}
                            <div class="slick-slide-item">
                                <div class="service-box-3">
                                    <div class="service-thumbnail">
                                        <a href="#" class="service-img">
                                            <div class="price-box">
                                                <span>₹{{ services.featured_package_price | intcomma }} </span>
                                            </div>
                                            <img class="d-block w-100" src="{{ services.service_photo_0.url }}" alt=""
                                                height="262px">
                                        </a>
                                        <div class="servicebox-overlap-wrapper">
                                            <div class="overlap-box">
                                                <div class="overlap-btns-area">
                                                    <div class="service-magnify-gallery">
                                                        {% if services.service_photo_1 %}
                                                        <a href="{{ services.service_photo_1.url }}" class="overlap-btn">
                                                            <i class="fa fa-expand"></i>
                                                            <img class="hidden" src="{{ services.service_photo_1.url }}">
                                                        </a>
                                                        {% endif %}
                                                        {% if services.service_photo_2 %}
                                                        <a href="{{ services.service_photo_2.url }}" class="hidden">
                                                            <img class="hidden" src="{{ services.service_photo_2.url }}">
                                                        </a>
                                                        {% endif %}
                                                        {% if services.service_photo_3 %}
                                                        <a href="{{ services.service_photo_3.url }}" class="hidden">
                                                            <img class="hidden" src="{{ services.service_photo_3.url }}">
                                                        </a>
                                                        {% endif %}
                                                        {% if services.service_photo_4 %}
                                                        <a href="{{ services.service_photo_4.url }}" class="hidden">
                                                            <img class="hidden" src="{{ services.service_photo_4.url }}">
                                                        </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail" style="align-content: center;">
                                        <h1 class="title">
                                            <a style="align-content: center;" href="{% url 'service_detail' services.id %}">{{ services.title }}</a>
                                        </h1>
                                        <div class="title">
                                            <div class="send-btn text-center">
                                                <div class="row" style="justify-content: space-around;">
                                                    <button class="btn btn-md update-button-theme" onclick="toggleModifyService({{ services.id }})">Update</button>
                                                    <form method="POST" action="{% url 'delete_service' services.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-md delete-button-theme">Delete</button></form>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="facilities-list clearfix">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="send-btn text-center">
                            <button class="btn btn-md update-button-theme" onclick="toggleAddService()">Add New</button>
                        </div>
                        <br>
                        <div class="slick-btn">
                            <div class="slick-prev slick-arrow-buton sab-4">
                                <i class="fa fa-angle-left"></i>
                            </div>
                            <div class="slick-next slick-arrow-buton sab-3">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
            <br>
            
        <div id="add-service" style="display: none;">
            <div class="main-title text-center">
                <h1>Add <span>Service</span></h1>
                <p>Kindly enter your business details to add your services.</p>
            </div>
            <form method="POST" action="{% url 'add_service' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
            
                            <input type="hidden" name="vendor_id" class="form-control" value="{{user.id}}" required>
            
                            <div class="col-md-6 text-left">
                                <div class="form-group name">
                                    <input type="text" name="title" class="form-control" placeholder="Title" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group email">
                                    <input type="text" name="service_type" class="form-control"
                                        value="{{vendor.service_type}}" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 text-left">
                                <div class="form-group city">
                                    <input type="text" name="city" class="form-control" placeholder="City" required>
                                </div>
                            </div>
                            <div class="col-md-6 text-left">
                                <div class="form-group">
                                    <select class="form-control search-fields" name="state">
                                        <option selected="true" disabled="disabled">Select State </option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Maharastra">Maharastra</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="West Bengal">West Bengal</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        </option>
                                    </select>
                                </div>
                            </div>
            
            
                            <div class="col-md-6 text-left">
                                <div class="form-group name">
                                    <input type="file" name="service_photo_0" class="form-control" required>
                                    <input type="file" name="service_photo_1" class="form-control">
                                    <input type="file" name="service_photo_2" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 text-left">
                                <div class="form-group name">
                                    <input type="text" name="featured_package_price" class="form-control" placeholder="Price" required>
                                    <input type="file" name="service_photo_3" class="form-control">
                                    <input type="file" name="service_photo_4" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group message">
                                    <textarea class="form-control" name="description"
                                        placeholder="Write description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group message">
                                    <textarea class="form-control" name="other_details"
                                        placeholder="Write other details"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send-btn text-center">
                                    <button type="submit" class="btn btn-md button-theme">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="modify-service" style="display: none;">
            <div class="main-title text-center">
                <h1>Modify <span>Service</span></h1>
                <p>Kindly enter new details to update your services.</p>
            </div>
            <form method="POST" action="{% url 'update_service' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
            
                            <input type="hidden" name="vendor_id" class="form-control" value="{{user.id}}" required>
                            <input type="hidden" name="service_id" class="form-control" id="service_id" placeholder="ID" required>
                            <div class="col-md-6 text-left">
                                <div class="form-group name">
                                    <input type="text" name="title" class="form-control" placeholder="Title" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group email">
                                    <input type="text" name="service_type" class="form-control"
                                        value="{{vendor.service_type}}" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 text-left">
                                <div class="form-group city">
                                    <input type="text" name="city" class="form-control" placeholder="City" required>
                                </div>
                            </div>
                            <div class="col-md-6 text-left">
                                <div class="form-group">
                                    <select class="form-control search-fields" name="state">
                                        <option selected="true" disabled="disabled">Select State </option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Maharastra">Maharastra</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="West Bengal">West Bengal</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        </option>
                                    </select>
                                </div>
                            </div>
            
            
                            <div class="col-md-6 text-left">
                                <div class="form-group name">
                                    <input type="file" name="service_photo_0" class="form-control" required>
                                    <input type="file" name="service_photo_1" class="form-control">
                                    <input type="file" name="service_photo_2" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 text-left">
                                <div class="form-group name">
                                    <input type="text" name="featured_package_price" class="form-control" placeholder="Price" required>
                                    <input type="file" name="service_photo_3" class="form-control">
                                    <input type="file" name="service_photo_4" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group message">
                                    <textarea class="form-control" name="description"
                                        placeholder="Write description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group message">
                                    <textarea class="form-control" name="other_details"
                                        placeholder="Write other details"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send-btn text-center">
                                    <button type="submit" class="btn btn-md button-theme">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {% else %}
        <div class="container mt-50 mb-50">
            <div class="main-title text-center"><h1>Booking <span>History</span></h1></div>
            {% if payments %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Service Name</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Booking Date</th>
                            <th scope="col">Event Start Date</th>
                            <th scope="col">Event End Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                        <tr>
                            <td>{{ payment.title }}</td>
                            <td>{{ payment.vendor.username }}</td>
                            <td>{{ payment.created_date.date}}</td>
                            <td>{{ payment.start_date.date}}</td>
                            <td>{{ payment.end_date.date}}</td>
                            <td>₹{{ payment.amount | intcomma }}</td>
                            <td>
                                <form method="POST" action="{% url 'delete_order' payment.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-dark">Cancel</button></form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
            {% else %}
                <h4> You have no booking history !</h4>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
{% block js %}
<script>
    function toggleAddService() {
        console.log("Hello!");
        var add = document.getElementById("add-service");
        var modify = document.getElementById("modify-service");
        if (add.style.display === "none") {
            if (modify.style.display === "block") {
                modify.style.display = "none";
                add.style.display = "block";
                add.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
            } else {
                add.style.display = "block";
                add.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
            }
        } else {
            add.style.display = "none";
        }
    }
    function toggleModifyService(id) {
        console.log("ID",id);
        var add = document.getElementById("add-service");
        var modify = document.getElementById("modify-service");
        var sid = document.getElementById("service_id");
        if (modify.style.display === "none"){
            if (add.style.display === "block") {
                add.style.display = "none";
                modify.style.display = "block";
                modify.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
                sid.value=id;
                console.log("Service ID",sid);
            } else {
                modify.style.display = "block";
                modify.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
                sid.value=id;
                console.log("Service ID",sid);
            }
        } else {
            modify.style.display = "none";
        } 
        
    }
</script>
{% endblock %}