{% load static %}

<footer class="footer">
    
    <div class="sub-footer">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-4">   
                </div>
                <div class="col-lg-3">
                    <div class="copy">
                        <p><br> <a href="#"><img src="{% static 'img/logos/weddify_logo.png' %}" alt="Weddify"></a></p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="copy">
                        <p style="font-size: 15px;">A Project by Team 09. <br>
                        Shubham Panwar        -  2022H1120291P <br>
                        Vineet Sharma         -  2022H1120292P <br>
                        Sparsh Kumar          -  2022H1120293P <br>
                        Siddhant Priyadarshi  -  2022H1120294P</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>