<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<div style="margin-top: 10px">Goodbye, <b th:text="${user.firstname}"></b></div>
<br>
<div>We at Weddify are sad to see you go :(. Your account with username "<b th:text="${user.username}"></b>" has been deleted succesfully.</div>
<br/>
<div> Hope to see you again. Have a nice day.</div>
</body>
</html>