<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<div style="margin-top: 10px">Greetings, <b th:text="${user.firstname}"></b></div>
<br>
<div>Welcome back to Weddify!. Your password as been succesfully reset. Kindly use the credentials below to login to your account.</div>
<br/>
<div> Username :<b th:text="${user.username}"></b></div>
<br>
<div> Password :<b th:text="${user.servicetitle}"></b></div>
<br>
<div>Kindly change your password once you login.</div>
<br/>
<div>Have a nice day.</div>
</body>
</html>